.grosse {
    width: 50;
    height: 100;
}

.dis {
    display: none;

}

.Z1 {
    border-color: rgb(15, 80, 118);
    border-width: 3px 3px;
    border-radius: 6px;
    color: rgb(45, 110, 148);
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 50px;
    padding: 10px;
} 

.Z1:hover {
    transform: scale(1.05);
    border-color: rgb(15, 80, 118);
    transition: 0.3s;
    background-color: rgb(15, 80, 118);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);  
}

body {
    background-color: rgb(50, 115, 153);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(260, 227, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    border-color: rgb(45, 110, 148);
     background-color: rgb(214,177,218);
    width: 180px;
    height: 50px;
    padding: 10px 20px;
    box-shadow: none;
}   

button {
    border: 2px solid;
    border-radius: 6px;
}

h1 {

    color: white;
    background-color: rgb(45, 110, 148);
    font-size: 45px;
    font-family: monospace;

}