a {
    color: rgb(255, 255, 255);
    background-color: rgb(260, 227, 180);
}

a:hover {
    color: rgb(45, 110, 148);
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(260, 227, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    border-color: rgb(45, 110, 148);
     background-color: rgb(214,177,218);
    width: 180px;
    height: 50px;
    padding: 10px 20px;
}   

.m {
    color: rgb(255, 255, 255);
    background-color: rgb(260, 227, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    border-color: rgb(45, 110, 148);
     background-color: rgb(214,177,218);
    width: 180px;
    height: 50px;
    padding: 10px 20px;
}   

button:hover {
    
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.Z1 {
    border-radius: 6px;
    color: rgb(45, 110, 148);
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 50px;
    padding: 10px;
    
} 

.Z1:hover {
    transform: scale(1.05);
    border-color: rgb(15, 80, 118);
    transition: 0.3s;
    background-color: rgb(15, 80, 118);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);  
}

.grosse {
    width: 360;
    height: 480;
}

p {
    display: flex;
    justify-content: center;      
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    border: 2px solid;
    border-radius: 6px;
    border-color: rgb(15, 80, 118);
    width: 360px;
    height: 100px;
    padding: 10px;
    font-size: 25px;
    
}

.Z1 {
    border-color: rgb(15, 80, 118);
}
input::placeholder {
    font-size: 40px;
}
.Z2 {
    border-color: rgb(15, 80, 118);
}
h3 {
    font-size: 25px;
}
.t {
    font-size: 40px;
}
.heading {
    font-size: 60px;
}