.h2 {
    margin-top: 70px;
    margin-left: 20px;
    
    font-size: 100px;
    color: rgb(255, 221, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
body {
    background-color: rgb(255, 255, 255);
    
    
    
    
}
.txt1 {
    color: white;
    margin-left: 25px;
    color: rgb(255, 221, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size: 50px;
}
.h21 {
    margin-left: 20px;
    margin-top: 170px;
    font-size: 100px;
    color: rgb(255, 221, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
.ba {
    border-radius: 10px;
    margin-left: 20px;
    width: 360px;
    height: 100px;
    border: 2px solid;
    border-radius: 6px;
    border-color: rgb(255, 255, 255);
    width: 360px;
    height: 100px;
    padding: 10px;
    font-size: 25px;
    background-color: rgb(63, 64, 132);
    
}
.ba1 {
    border-radius: 10px;
    margin-left: 20px;
    height: 100px;
    width: 360px;
    border: 2px solid;
    border-radius: 6px;
    border-color: rgb(255, 255, 255);
    width: 360px;
    height: 100px;
    padding: 10px;
    font-size: 25px;
    background-color: rgb(63, 64, 132);

}
.ba1::placeholder {
    color: white;
}

.ba::placeholder {
    color: white;
}
button {
    border-radius: 10px;
    width: 120px;
    height: 40px;
    background-color: rgb(63, 64, 132);
    color: white;
}
button:hover {
    transform: scale(1.05);
    border-color: rgb(63, 64, 132);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(63, 64, 132);
    
}
input:hover {
    transform: scale(1.05);
    border-color: rgb(63, 64, 132);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: rgb(63, 64, 132);
     
}
button {
    border: 2px solid;
    border-radius: 6px;
    border-color: rgb(255, 255, 255);
    width: 360px;
    height: 100px;
    padding: 10px;
    font-size: 25px;
    
}
input:hover::placeholder {
    color: rgb(63, 64, 132);
    opacity: 1;
}
body {
  background-image: url("i-tried-to-recreate-the-life-point-counters-from-the-dubs-v0-v538xj7o9jva1.webp"); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  
  color: rgb(63, 64, 132);
}
.txt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.txt3 {
    margin-top: 5px;
    margin-left: 20px;
}
.txt4 {
    margin-top: 100px;
    margin-left: 20px;
}
body {
    background-color: rgb(63, 64, 132);
}