.h1 {
    color: rgb(203, 203, 203);
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 50px;
    margin-left: -100px;
    margin-right: -100px;
    
}

.sf {
    border-radius: 6px;
    color: rgb(255, 255, 255);
    border-color: rgb(55, 120, 158);
    background-color: white;
    -webkit-text-fill-color: rgb(80, 145, 183);
    width: 100px;
    height: 50px;
    margin-left: 5px;
}

.sf2 {
    border-radius: 6px;
    color: rgb(55, 120, 158);
    border-color: rgb(55, 120, 158);
     background-color: white;
    width: 150px;
    height: 50px;
    margin-left: 30px
}    

button:hover {
    transform: scale(1.05);
    transition: 0.3s;
     
}

input:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.sf1 {
    color: rgb(255, 255, 255);
}

.abstand {
    margin-top: 150px;
}

.Liste {
    font-size: 45px;
    text-decoration: underline;
    margin-left: 170px;
}

.abstand2 {
    margin-left: 150px;
}

a:hover {
    color: rgb(45, 110, 148);
    background-color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 255, 255);
    background-color: rgb(260, 227, 180);

}